.self_asserted_container .panel-default .panel-body .intro p {
  font-size: 32px;
  margin: 32px 0 24px;
  line-height: 41px;
  font-weight: normal;
  color: var(--oxitec-dark);
}

.self_asserted_container .panel-default .attrEntry div #email_ver_input_label {
  bottom: 138px;
}

.self_asserted_container .panel-default .attrEntry div.filled #email_ver_input_label {
  bottom: 148px;
  left: 8px;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .self_asserted_container .panel-default .attrEntry div #email_ver_input_label  {
    bottom: 154px;
  }

  .self_asserted_container .panel-default .attrEntry div.filled #email_ver_input_label  {
    bottom: 164px;
  }
}

