.self_asserted_container .panel-default .panel-body .intro p {
  font-size: 32px;
  margin: 32px 0 24px;
  line-height: 41px;
  font-weight: normal;
  color: var(--oxitec-primary);
}

.self_asserted_container .panel-default .attrEntry div.filled #email_ver_input_label {
  opacity: 1;
}