.self_asserted_container .panel-default .panel-body .intro p {
  font-size: 32px;
  margin: 32px 0 24px;
  line-height: 41px;
  font-weight: normal;
  color: var(--oxitec-primary);
}

.self_asserted_container .panel-default .attrEntry div.filled #email_ver_input_label {
  opacity: 1;
}

.self_asserted_container .VerificationCode[aria-hidden="false"] .attrEntry {
  margin: 20px 0 30px;
}

.self_asserted_container .email .attrEntry.disabled {
  margin: 20px 0 12px;
}

.self_asserted_container .buttons .sendNewCode {
  position: absolute;
  bottom: 69px;
  right: 0;
}

.verificationControlContent {
  position: relative;
}

#requiredFieldMissing, #passwordEntryMismatch,
#fieldIncorrect {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .self_asserted_container .buttons .sendNewCode {
    bottom: 78px;
  }
}